<!doctype html>
<!-- origin: http://www.java2s.com/Tutorials/AngularJS/AngularJS_Tutorial/Introduction/Form_Validation.htm 
see also: https://www.tutlane.com/tutorial/angularjs/angularjs-form-validations-with-examples 
https://www.tutlane.com/tutorial/angularjs/angularjs-ng-pattern-validation-email-with-regular-expressions
https://stackoverflow.com/questions/35200508/regex-validation-angularjs
-->
<html ng-app="myApp">
<head>
<script data-require="angulra.js@1.5.x" src="https://code.angularjs.org/1.5.8/angular.min.js" data-semver="1.5.8"></script>

<style id="jsbin-css">
small { position: relative; top:14px;}
  input.ng-invalid {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}
table { border-collapse: collapse; }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2.58;
  color: #333;
  background-color: #f4f4f4;
  height: 100%;
}
</style>
</head>
<body>
  
<form name="signup_form" novalidate ng-submit="signupForm()">
    <div class="large-12 columns">
      <label for="username">Username</label><span><small>(backend call validation)</small></span>
      <input  type="text" placeholder="Desired username" name="username" ng-model="signup_form.username" ng-minlength=1 ng-maxlength=120 ensure-unique="username" required />
      <div><small ng-bind="result"></small></div>
    </div>  

    <button type="submit" ng-disabled="signup_form.$invalid" class="button radius">Submit</button>
</form>
<script id="jsbin-javascript">
angular.module('myApp', [])
    .directive('ensureUnique', ['$http', function($http) {
        return {
            require: 'ngModel',
            link: function(scope, ele, attrs, c) {
                scope.$watch(attrs.ngModel, function() {
                    console.log('HTTP call to validate ' + signup_form.username.value + ' ' + attrs.ensureUnique);
                    if (signup_form.username.value.length > 2) {
                        $http({
                            method: 'POST',
                            // url: window.location.protocol + '//' + window.location.hostname + ':' + 8085 + '/validate_json/',
                            url: 'http://192.168.0.64:8085/validate_json',
                            data: {
                                'expression': signup_form.username.value,
                            }
                        }).success(function(data, status, headers, cfg) {
                            console.log(data);
                            if (data.status != 'OK') {
                                c.$setValidity('unique', false);
                                scope.result = data.result.message.split(/\r?\n/)[0];
                            } else {
                                c.$setValidity('unique', true);
                                scope.result = '';
                            }
                        }).error(function(data, status, headers, cfg) {
                            c.$setValidity('unique', false);
                            scope.result = 'error processing';
                        });
                    }
                });
            }
        };
    }]);
</script>
</body>
</html>



