<?xml version="1.0"?>
<configuration>
  <appender name="eventlog" class="example.logback.EventLogAppender">
    <resource>%SystemRoot%\Microsoft.NET\Framework\v4.0.30319\EventLogMessages.dll</resource>
    <id>42</id>
    <source>example.log4jna_sample</source>
    <application>log4jna_sample</application>
    <encoder>
      <pattern>[%-5level] %n Logger: %logger{36} %n Message: %msg</pattern>
    </encoder>
  </appender>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>
  <root level="WARN">
        <appender-ref ref="eventlog"/>
  </root>
</configuration>
