[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin
# comment does not make the mysqld switch to using TCP socket
socket = /tmp/mysqld.sock
[client]
protocol = tcp
