@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var process = Process.GetCurrentProcess();
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core</h1>

    <h5>Environment</h5>
    <p>@RuntimeInformation.FrameworkDescription</p>
    <p>@RuntimeInformation.OSDescription</p>
</div>

<div>
    <h5 class="text-center">Metrics</h5>
    <table width="500" align="center" class="table-striped table-hover">
        <tr>
            <td>Containerized</td>
            <td>@(Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") is object ? "true" : "false")</td>
        </tr>
       
    
    </table>
</div>
