server:
  port: 8080
  context-path: /springboot
# SQLite Connection
spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    username:
    password:
    # will create table (broken)
    # url: 'jdbc:sqlite::memory:'
    # will expect table to be created
    # otherwise fail with
    # org.sqlite.SQLiteException: [SQLITE_ERROR] SQL error or missing database (no such table: user)
    url: jdbc:sqlite:${USERPROFILE}/Desktop/springboot.db
  jpa:
    database-platform: example.sqlite.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  session:
    store-type: none
