<!doctype html>
<html>
<script src="js/angular.js"></script>

<script src="js/csv.js"></script>
<style>
table { border-collapse: collapse; }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .7rem;
  line-height: 1.5;
  color: #03030A;
  background-color: #f4f4f4;
  height: 100%;
}
</style>
<body ng-app='Aplication'>
<div ng-controller='TableController'>
<div>Paste CSV into textarea</div>
<textarea id='data' ng-change = 'tableController();' ng-model='myValue' >
</textarea>
<table class='table-bordered' style='width: 800px;'>
  <tr data-ng-repeat='row in table_rows'>
    <td style='width: 25%'>{{ row.column1 }}</td>
    <td style='width: 25%'>{{ row.column2 }}</td>
    <td style='width: 50%'>{{ row.column3 }}</td>
  </tr>
<!-- sample data: 

column1,column2,column3
host1,OK,PROD
host2,error,PROD
host3,error,STAGING
host4,OK,STAGING
host5,error,STAGING
host6,OK,STAGING
host7,error,STAGING
host8,OK,STAGING
host9,OK,STAGING
host10,OK,STAGING
host11,error,STAGING
host12,OK,STAGING
host13,OK,STAGING
host14,error,STAGING

 -->
<!-- sample data: 

column1
host1
host2
host3
host4
host5
host6
host7
host8
host9
host10
host11
host12
host13
host14

 -->
</table>
</div>
<!-- See also: https://stackblitz.com/edit/angular-read-csv-file -->
<script>
// origin: https://github.com/cparker15/CSV-js 
// origin: https://www.w3schools.com/angular/tryit.asp?filename=try_ng_ng-change
angular.module('Aplication', [])
  .controller('TableController', function($scope, $location, $http) {
    $scope.count = 0;
    $scope.tableController = function() {
      $scope.count++;
      var field = document.getElementById('data');
      console.log(field.value);
      var csvObj = CSV.parse(field.value);
      var jsonObjText = JSON.stringify(csvObj, null, '\t');
      // console.log(jsonObjText);
      var data = JSON.parse(jsonObjText);
      if (data) {
        // console.log(data);
        $scope.table_rows = data;
        // console.log(data.length);
        for (var x = 0; x != data.length; x++) {
          var hostname = data[x]['column1'];
          // var url = $location.url(); 
          // url = 'localhost';
          var url = $location.host()
          const port = 9090;
          console.log('query status of host: ' + hostname);
          $scope.results = [];
          $http.get('http://' + url + ':' + port + '/cgi-bin/host_status.cgi' + '?hostname=' + hostname, '', {
            headers: {
              'Referrer-Policy': 'origin'
            }
          }).then(function(response) {
            if (response.data){
              var o = response.data;
              // $scope.msg = 'success';
              console.log('response.data: ' + JSON.stringify(o));
              var status = o.status;
              var name = o.hostname;
              var environment = o.environment;
              $scope.results.push( { 'column1': name, 'column2': status, 'column3': environment});
            }
          }, function(response) {
            $scope.msg = 'error';
          });
        }
        $scope.table_rows = $scope.results;
        // not available yet ?
        console.log('results: ' + $scope.table_rows);
      }
    };
  });
</script>
</body>
</html>

