defaults
  log global
  mode http
  option httplog
  timeout connect 10s
  timeout server 1m
  timeout client 1m
  # NOTE: 'log-format' overrides previous 'option httplog' 
  #log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

global
  maxconn 3000
  log stdout format raw local0 info

frontend http
  bind *:8080
  timeout client 1m
  acl app_acl1 path_end -i app1/
  acl app_acl2 path_beg -i app2
  acl app_acl3 url_dir app3
  # TODO: hdr acl
  acl app_acl4 hdr(application) -i app4
  http-request deny if { path  -i beg /admin }
  use_backend appserver1 if app_acl1
  use_backend appserver2 if app_acl2
  use_backend appserver3 if app_acl3
  use_backend appserver3 if app_acl4
  default_backend appservers

backend appservers
  balance roundrobin
  server appserver1 application-server1:8080 check
  server appserver2 application-server2:8080 check
  server appserver3 application-server3:8080 check
  # TODO:  additional application servers  
backend appserver1
  # TODO: 
  # option httpchck GET /app1/health.jsp
  # http-check expect status 200
  # NOTE: will pass context path to appserver
  server appserver application-server1:8080
backend appserver2
  server appserver application-server2:8080
backend appserver3
  server appserver application-server3:8080

