<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Thymeleaf example</title>
    <meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>	
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
	    <link href="/resources/css/style.css" rel="stylesheet"/>
    
  </head>
  <body>
    Hello <span th:text="${name}">World</span>!
  </body>
</html>
