table { border-collapse: collapse; }
.percent {
  position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
  width: 300px; height: 14px;
  border-radius: 10px;
  border: 1px solid #CCC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
  border-image: initial;
}
.uploaded {
  padding: 0;
  height: 14px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
  border-image: initial;
}
.dropbox {
  width: 15em;
  height: 3em;
  border: 2px solid #DDD;
  border-radius: 8px;
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}
.dropbox span {
  margin-top: 0.9em;
  display: block;
}
.dropbox.not-available {
  background-color: #F88;
}
.dropbox.over {
  background-color: #bfb;
}
