<!DOCTYPE html>
<html>
<head>

	<title>Protractor practice website - Banking App</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	
	
	</head>

<body  ng-app="BankApp" ng-controller="bodyCtrl" style="background:#e8e8e8;">
	<div ui-view></div>

	<script src="/webjars/angularjs/angular.min.js"></script>
	<script src="/webjars/angular-ui-router/angular-ui-router.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script href="/webjars/bootstrap/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/user.service.js"></script>
	<script type="text/javascript" src="js/account.service.js"></script>
	<script type="text/javascript" src="js/transaction.service.js"></script>
	<script type="text/javascript" src="js/mockDataLoadService.js"></script>
	<script type="text/javascript" src="js/customer.data.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/date.search.filter.js"></script>
	<script type="text/javascript" src="js/accountViewController.js"></script>
	<script type="text/javascript" src="js/addCustomerController.js"></script>
	<script type="text/javascript" src="js/customerViewController.js"></script>
	<script type="text/javascript" src="js/bodyController.js"></script>
	<script type="text/javascript" src="js/depositController.js"></script>
	<script type="text/javascript" src="js/listCustomerController.js"></script>
	<script type="text/javascript" src="js/mainController.js"></script>
	<script type="text/javascript" src="js/managerViewController.js"></script>
	<script type="text/javascript" src="js/openAccountController.js"></script>
	<script type="text/javascript" src="js/optionsController.js"></script>
	<script type="text/javascript" src="js/transactionSummaryController.js"></script>
	<script type="text/javascript" src="js/withdrawlController.js"></script>

</body>
</html>
    
