<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- CSS only -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
    <title>Create New Category</title>
</head>
<body>
<div align="center">
    <h1>Создать новую категорию </h1>
    <br/>
    <form action="#" th:action="@{/saveCategory}" th:object="${category}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Наименования:</td>
                <td><input required type="text" th:field="*{name}"   /></td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><input required type="text" th:field="*{description}"/>

                </td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary">Сохранить</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>