<!DOCTYPE html>
<html>
<script src="js/angular.js"></script>
<style>
table { border-collapse: collapse; }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 2.58;
  color: #333;
  background-color: #f4f4f4;
  height: 100%;
}
</style>
<body ng-app='Aplication'>
<div ng-controller='TableController'>
<div>Paste JSON in textarea</div>
<textarea id='data' ng-change = 'tableController();' ng-model='myValue'>
{
  "results": [
    {
      "column1": "server1 column 11",
      "column2": "server1 column 12",
      "column3": "server1 column 13"
    },
    {
      "column1": "server1 column 21",
      "column2": "server1 column 22",
      "column3": "server1 column 23"
    },
    {
      "column1": "server1 column 31",
      "column2": "server1 column 32",
      "column3": "server1 column 33"
    }
  ]
}
</textarea>
<table class='table-bordered' style='width: 800px;'>
  <tr data-ng-repeat='row in table_rows'>
    <td style='width: 25%'>{{ row.column1 }}</td>
    <td style='width: 25%'>{{ row.column2 }}</td>
    <td style='width: 50%'>{{ row.column3 }}</td>
  </tr>
</table>
</div>

<script>
// origin: https://www.w3schools.com/angular/tryit.asp?filename=try_ng_ng-change
angular.module('Aplication', [])
    .controller('TableController', ['$scope', function($scope) {
        $scope.count = 0;
        $scope.tableController = function() {
            $scope.count++;
            var field = document.getElementById('data');
            var data = JSON.parse(field.value);
            if (data) {
                console.log(data.results);
            }
            $scope.table_rows = data.results;
        };
    }]);	
</script>
</body>
</html>

