<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
  <springProfile name="development">
    <property name="SUFFIX" value="dev"/>
  </springProfile>
  <variable name="BASEDIR" value="${BASEDIR:-.}"/>
  <!-- https://www.cloudesire.com/configure-logback-log-level-via-environment-variables/ -->
  <property name="FILENAME" value="App-${SUFFIX}"/>
  <property name="DIR" value="${BASEDIR}/logs"/>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- can use ${APP_HOME} -->
    <file>${DIR}/${FILENAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${DIR}/${FILENAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>3KB</maxFileSize>
      <totalSizeCap>10KB</totalSizeCap>
      <maxHistory>1</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="FILE"/>
  </root>
  <logger name="example" level="DEBUG" additivity="false">
    <appender-ref ref="FILE"/>
  </logger>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.springframework.jdbc.core" level="DEBUG"/>
</configuration>
