# terraform

# .tfstate files
*.tfstate
*.tfstate.*
# workspaces
**/terraform.tfstate.d/**

*box
*out

# provider hashes state lock and downloaded cached provider plugins and module
# NOTE: should include this file in version control repository
**/.terraform.lock.*
**/.terraform/providers/**

# local .terraform directories
**/.terraform/*


# crash log files
crash.log

# .tfvars files, not limited to "secret.tfvars" commonly used contain sentitive data
*.tfvars

# override files comonly used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

