<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
    <mapping class="example.model.Customer"/>
    <mapping class="example.model.Item"/>
    <mapping class="example.model.Address"/>
    <mapping class="example.model.Server"/>
    <mapping class="example.model.Application"/>
    <mapping class="example.model.Instance"/>
    <mapping class="example.model.Axixs"/>
    <!-- TODO: have no effect in the presence of similar setings in application.properties -->
    <property name="format_sql">true</property>
    <property name="show_sql">true</property>
  </session-factory>
</hibernate-configuration>
