<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- origin: https://github.com/callicoder/spring-boot-file-upload-download-rest-api-example/blob/master/src/main/resources/static/index.html -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Spring Boot File Upload / Download Rest API Example</title>
  <meta charset="utf-8" />
<style>
table { border-collapse: collapse; }
  tr th, td {
    text-transform: capitalize;
    text-align: center;
  }

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .7rem;
  line-height: 1.5;
  color: #03030A;
  background-color: #f4f4f4;
  height: 100%;
}
  </style>
  </head>
  <body>
    <div>
      <h3>Spring Boot File Upload Single File</h3>
      <form id="singleUploadForm" name="singleUploadForm">
        <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
        <button type="submit" class="primary submit-btn">Submit</button>
      </form>
      <div class="upload-response">
        <div id="singleFileUploadError"></div>
        <div id="singleFileUploadSuccess"></div>
      </div>
    </div>
    <script th:src="@{/js/main.js}"></script>
<!-- 
<body ng-app='Aplication'>
<div ng-controller='TableController'>
<div>Paste CSV into textarea</div>
<textarea id='data' ng-change = 'tableController();' ng-model='myValue' >
</textarea>
<table class='table-bordered' style='width: 800px;'>
  <tr data-ng-repeat='row in table_rows'>
    <td style='width: 25%'>{{ row.column1 }}</td>
    <td style='width: 25%'>{{ row.column2 }}</td>
    <td style='width: 50%'>{{ row.column3 }}</td>
  </tr>
</table>
</div>

-->
  </body>
</html>

