

<div class="borderM box padT20">
	<div><strong> Welcome <span class="fontBig">{{user}}</span> !!</strong>
	<span ng-show="noAccount">Please open an account with us.</span>
	<select ng-hide="noAccount" style="margin-left:10px"  ng-options="account for account in Accounts" name="accountSelect" id="accountSelect" ng-model="accountNo" ng-change="selectAcct()">

	</select>

	</div> <br>
	<div ng-hide="noAccount" class="center">Account Number : <strong>{{accountNo}} </strong>,
	Balance : <strong>{{amount}}</strong> ,
	Currency : <strong>{{currency}}</strong></div><br>


	<div ng-hide="noAccount" class="center">
		<button ng-class="btnClass1" class="btn btn-lg tab" ng-click="transactions()">Transactions
		<b ng-show="btnClass1 === 'btn-primary'" id="notch" class="notch"></b>
		</button>

		<button ng-class="btnClass2" class="btn btn-lg tab" ng-click="deposit()">Deposit
		<b ng-show="btnClass2 === 'btn-primary'" id="notch" class="notch"></b>
		</button>
		<button ng-class="btnClass3" class="btn btn-lg tab" ng-click="withdrawl()">Withdrawl
		<b ng-show="btnClass3 === 'btn-primary'" id="notch" class="notch"></b>
		</button>

	</div>
	<div ng-show="accountNo != ''" class="container-fluid mainBox" ui-view>
	</div>

</div>
