
<div>

	<div class="marTop">
		<form name="myForm" role="form" ng-submit="addCustomer()" >
			 <div class="form-group"><label>First Name :</label><input class="form-control" type="text" ng-model="fName" placeHolder="First Name" required/></div>
			 <div class="form-group"><label>Last Name :</label><input class="form-control" type="text" ng-model="lName" placeHolder="Last Name" required/></div>
			 <div class="form-group"><label>Post Code :</label><input class="form-control" type="text" ng-model="postCd" placeHolder="Post Code" required/></div>
			<button type="submit" class="btn btn-default" value=""  >Add Customer</button>
		</form>
	</div>

</div>
