
<div>

	<div class="borderM box padT20">
	
	<!--	<div class="center">
        <a href="https://www.way2automation.com/angularjs-protractor/banking/registrationform.html" class="btn btn-primary btn-lg">Sample Form</a>
	</div><br> -->
		<div class="center"><button class="btn btn-primary btn-lg" ng-click="customer()">Customer Login</button></div><br>
		<div class="center"><button class="btn btn-primary btn-lg" ng-click="manager()">Bank Manager Login</button></div><br>
    <!-- <div class="center">
        <a href="https://www.way2automation.com/lifetime-membership-club/" class="btn btn-primary btn-lg">Lifetime Membership</a>
    </div> -->
	</div>

	<div class="container-fluid mainBox" ui-view></div>
</div>
